
.searchBar label {
    margin-bottom: 0;
  }

  .searchBar .main div {
    flex: 1 1;
  }

  .searchBar .main input {
    width: 100%;
  }

  .searchBar button {
    margin-top: 2%;
    line-height: 1;
    height: 38px !important;
  }

  /* body {
    font-family: Open Sans !important;
  } */