@import "scss/variables";

:local(.titleBar) {
  width: 100%;
  background: #fff;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  > .title, > .options {
    color: #000;
    display: flex;
    align-items: center;
  }
  > .title {
    > a {
      color: #000;
      text-decoration: none;
      display: flex;
      align-items: center;
      > span.fa {
        color: #ff7d38;
        padding: 2px;
        font-size: 20px;
      }
    }

    > .react-spinner {
      color: #000;
      width: 20px;
      height: 20px;
      top: 30%;
      left: 20%;
      transition: all 250ms ease-in-out;
      opacity: 0;
      &.loading {
        opacity: 1;
      }
      > .react-spinner_bar {
        background-color: #444;
      }
    }
  }

  > .options {
    cursor: pointer;
    position: relative;
    padding: 5px;
    transition: 150ms;
    &:hover, &.show {
      background-color: #eee;
    }


    span.fa {
      padding: 4px 8px;
      font-size: 16px;
      color: #aaa;
    }
    > .dropdown {
      z-index: 999;
      display: none;
      background-color: #fff;
      position: absolute;
      top: 38px;
      right: 0px;
      width: 180px;
      @include shadow;
      &.show {
        display: block;
      }
      > .option {
        // padding: 6px;
        transition: 150ms;
        &:not(:last-child) {
          border-bottom: 1px solid #eaeaea;
        }
        &:hover {
          background-color: #eaeaea;
        }
        .fa {
          color: $accentColor;
        }

        > span, > a {
          padding: 6px;
          width: 100%;
          display: block;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
