@import "scss/variables";

:local(.app) {
}

:local(.table) {
  margin: 0 !important;
}

:local(.detailsCell) {
  width: 1px;
  > .button {
    background-color: #a0a9b0;
    min-width: inherit;
    padding: 12px;
  }
}
