
#addPatient div.select {
    margin-top: 7%;
}

#addPatient .flex-grid:nth-child(1) .col:nth-child(1) {
    border-right: 1px solid #ebeced;
}

#addPatient .flex-grid:nth-child(2) {
    border-top: 1px solid #ebeced;
}

form {
    max-width: none !important;
    align-items: initial !important;
}

#addPatient .flex-grid {
    display: flex;
    width: 75% !important;
}

.col {
    flex: 1;
    padding: 0 3%;
    padding-bottom: 3%;
}

.addFields {
    color: #2cbaee;
    margin: 10px 0;
    cursor: pointer;
}

.addressFields, .phoneFields {
    display: flex;
}

.addressFields h5:nth-child(1), .phoneFields h5:nth-child(1) {
    flex: 1 1;
}