@import "scss/variables";
:local(.dashboardTab) {
  padding: 10px;

  > .expenses {
    > .header {
      padding: 0px;
    }

    > .actions {
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        align-items: center;

        > div, > .button {
          margin-right: 5px;
        }

        .button {
          min-width: auto;
        }

        .select {
          width: 200px;
        }
      }
    }
  }
}
