@import "scss/variables";

:local(.scriptView) > table {
    width: 70% !important;
}

:local(.body) > table {
    width: 70% !important;
}

:local(.body) > td {
    width: 200px !important;
}

:local(.attachmentsTab) {
    padding: 10px;
    .span, .input {
      display: block;
      max-width: 600px;
      padding: 8px;
      line-height: 30px;
    }
    > .button {
      margin-bottom: 20px;
    }
    > .attachments {
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
    }
  }

