:local(.container) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%; }

:local(.body) {
  width: 100%;
  flex: 1;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: lighter; }
  :local(.body) > .button {
    margin: 0 auto;
    width: 200px; }
  :local(.body) > input {
    padding: 8px;
  }
.logo {
    width: 40px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
  }
