@import "scss/variables";

:local(.container) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

:local(.body) {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  > .button {
    width: 200px;
    margin: 0 auto;
  > input {
    padding: 8px;
  }
}}
